<app-header></app-header>
<app-catalog></app-catalog>
<app-jumbotron
  [pageTitle]="'About'"
  [breadcrumbLinks]="[
    { label: 'Home', link: '' },
    { label: 'About', link: '/about' }
  ]"
>
</app-jumbotron>
<!-- <div class="about_des">
  <div class="about_cnt">
    <div class="about_intro">
      <p class="wel">Welcome to our corner of botanical exploration!</p>
      <s>
        We are dedicated to unraveling the captivating stories that plants hold
        within them. At Plant Palace(Ibadan,Nigeria), we're not just about
        selling plants, we're here to share the wonder and wisdom that the plant
        kingdom offers.
      </s>
    </div>
    <div class="about_mission">
      <p class="wel">OUR MISSION</p>
      <s
        >Our mission is to foster a deeper connection between people and plants.
        We believe that by understanding and appreciating the botanical world,
        we can enrich our lives and contribute to a healthier planet. Through
        our platform, we aim to educate, inspire, and provide access to a
        curated selection of plants that bring joy and tranquility to your
        spaces.</s
      >
    </div>
  </div>
</div> -->

<!-- <div class="service">
  <div class="title">
    <h2>Team Members</h2>
  </div>

  <div class="box">
    <div class="card">
      <img src="assets/Donny.jpg" />
      <h5>DIVINE ASUQUO</h5>
      <div class="pra">
        <p>
          My name is DIVINE ASUQUO and my studentID:Student1402290. I am one of
          the developers of the Plant Palace website project.
        </p>
      </div>
    </div>

    <div class="card">
      <img src="assets/Basit.jpg" />
      <h5>DAHUNSI ABDULBASIT KOLADE</h5>
      <div class="pra">
        <p>
          My name is DAHUNSI ABDULBASIT KOLADE and my studentID:Student1402601.
          I am one of the developers of the Plant Palace website project.
        </p>
      </div>
    </div>
    <div class="card">
      <img src="assets/Dami.jpg" />
      <h5>DADA OLUWADAMILARE</h5>
      <div class="pra">
        <p>
          My name is DADA OLUWADAMILARE and my studentID:Student1451434. I am
          one of the developers of the Plant Palace website project.
        </p>
      </div>
    </div>
    <div class="card">
      <img src="assets/Jerry.jpg" />
      <h5>OPARA JEREMIAH EZEKWESIRI</h5>
      <div class="pra">
        <p>
          My name is OPARA JEREMIAH EZEKWESIRI and my studentID:Student1362599.
          I am one of the developers of the Plant Palace website project.
        </p>
      </div>
    </div>

    <div class="card">
      <img src="assets/Yusuf.jpg" />
      <h5>ADETORO YUSUF DAMILOLA</h5>
      <div class="pra">
        <p>
          My name is ADETORO YUSUF DAMILOLA with studentID:bStudent1344909. I am
          one of the developers of the Plant Palace website project.
        </p>
      </div>
    </div>
  </div>
</div> -->

<div class="heading">
  <h1>About Us</h1>
  <p>
    Discover the magic of plants at [Your Company Name]. Explore our handpicked
    collection, and transform your space with nature's beauty.
  </p>
</div>
<div class="container">
  <section class="about">
    <div class="about-image">
      <img src="assets/blog2.jpg" alt="" />
    </div>
    <div class="about-content">
      <h2>Lush Greenery</h2>
      <p>
        Welcome to [Your Company Name], where we nurture your connection to
        nature through a curated selection of lush plants. With a commitment to
        quality and sustainability, we're here to inspire your indoor oasis.
        Join us on this green journey and discover the beauty and serenity that
        plants bring to your life
      </p>
      <a href="" class="read-more">Read More</a>
    </div>
  </section>
</div>
<app-footer></app-footer>
