<app-header></app-header>
<app-catalog></app-catalog>
<app-jumbotron
  [pageTitle]="'Blog'"
  [breadcrumbLinks]="[
    { label: 'Home', link: '' },
    { label: 'Blog', link: '/blog' }
  ]"
>
</app-jumbotron>
<section class="blog custom-container">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title blog-title">
          <h2>From The Blog</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="blog-item">
          <div class="blog-item-pic">
            <img src="assets/blog1.jpg" alt="" />
          </div>
          <div class="blog-item-text">
            <ul>
              <li><i class="bi bi-calendar"></i> August 12, 2023</li>
              <li><i class="bi bi-chat"></i> 5</li>
            </ul>
            <h5>
              <a href="#"
                >The Enchanting Elegance of Roses: Nature's Timeless Beauties</a
              >
            </h5>
            <p>
              The Enchanting Elegance of Roses: Nature's Timeless Beauties
              Roses, often hailed as the "queen of flowers," have captivated
              hearts and minds for centuries with their exquisite beauty,
              alluring fragrances, and rich symbolism.
            </p>
            <a href="#" class="btn">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="blog-item">
          <div class="blog-item-pic">
            <img src="assets/blog2.jpg" alt="" />
          </div>
          <div class="blog-item-text">
            <ul>
              <li><i class="bi bi-calendar"></i> August 12, 2023</li>
              <li><i class="bi bi-chat"></i> 5</li>
            </ul>
            <h5>
              <a href="#"
                >Lavender: Nature's Tranquil Treasure for Mind and Senses</a
              >
            </h5>
            <p>
              In the realm of botanical wonders, few plants captivate both the
              senses and the spirit quite like lavender.
            </p>
            <a href="#" class="btn">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="blog-item">
          <div class="blog-item-pic">
            <img src="assets/blog3.jpg" alt="" />
          </div>
          <div class="blog-item-text">
            <ul>
              <li><i class="bi bi-calendar"></i> August 12, 2023</li>
              <li><i class="bi bi-chat"></i> 5</li>
            </ul>
            <h5>
              <a href="#"
                >Tulips: The Timeless Elegance of Spring's Vibrant Harbingers</a
              >
            </h5>
            <p>
              As winter's grip loosens and the world awakens to the warmth of
              spring, few blooms herald the season's arrival quite like tulips.
            </p>
            <a href="#" class="btn">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="blog-item">
          <div class="blog-item-pic">
            <img src="assets/blog4.jpg" alt="" />
          </div>
          <div class="blog-item-text">
            <ul>
              <li><i class="bi bi-calendar"></i> August 12, 2023</li>
              <li><i class="bi bi-chat"></i> 5</li>
            </ul>
            <h5>
              <a href="#"
                >Sunflowers: Unveiling the Radiant Majesty of Nature's
                Sun-Kissed Giants</a
              >
            </h5>
            <p>
              Standing tall in fields and gardens, sunflowers are nature's
              embodiment of joy, vitality, and boundless optimism
            </p>
            <a href="#" class="btn">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="blog-item">
          <div class="blog-item-pic">
            <img src="assets/blog5.jpg" alt="" />
          </div>
          <div class="blog-item-text">
            <ul>
              <li><i class="bi bi-calendar"></i> August 12, 2023</li>
              <li><i class="bi bi-chat"></i> 5</li>
            </ul>
            <h5>
              <a href="#"
                >Daisies: Nature's Whimsical Delight and Symbol of Simplicity</a
              >
            </h5>
            <p>
              Amidst the tapestry of blossoms, daisies stand as a timeless
              reminder of the beauty found in simplicity
            </p>
            <a href="#" class="btn">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="blog-item">
          <div class="blog-item-pic">
            <img src="assets/blog6.jpg" alt="" />
          </div>
          <div class="blog-item-text">
            <ul>
              <li><i class="bi bi-calendar"></i> August 12, 2023</li>
              <li><i class="bi bi-chat"></i> 5</li>
            </ul>
            <h5>
              <a href="#"
                >Orchids: Unveiling the Intrigue and Elegance of Nature's Exotic
                Masterpieces</a
              >
            </h5>
            <p>
              Orchids, with their intricate blooms and elusive allure, have held
              a place of fascination in human hearts for centuries.
            </p>
            <a href="#" class="btn">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
